table {
    font-size: 12px;
    border-collapse: collapse;
    border-radius: 40px;
    height:100%;
}

th {
    font-weight: bold;
    font-size: 15px;
    background-color: #a8be8a;
}

th,
td {
    padding: 12px 15px;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tr:nth-of-type(odd) {
    background-color: #b8b3b3;
}

tr:hover {
    font-weight: bold;
}