body {
  background-color:rgb(171, 195, 219);
  font-family: Arial, Helvetica, sans-serif;
}

#listingTable, #attendanceTable, #enrollmentTable {
  height: 200px;
  width: 100%;
  overflow: auto;
  box-shadow: 0 0 5px grey;
  margin-top: 5px;
}

